<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rakul.hubsanflightcontroller">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23"
        />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/fc_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".HomeScreen"
            android:label="Main Menu"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen" />
        </activity>

        <activity android:name=".FlightController"
            android:screenOrientation="landscape"
            android:label="Flight Controller">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen" />
        </activity>

        <activity android:name=".FlightData"
            android:screenOrientation="portrait"
            android:label="Flight Data">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen" />
        </activity>

        <activity android:name=".SignIn"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SignUp"
            android:screenOrientation="portrait"
            android:label="Register">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SignIn" />
        </activity>

        <activity android:name=".DemoMode"
            android:screenOrientation="portrait"
            android:label="Demo Mode">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen" />
        </activity>

        <meta-data
            android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
            android:resource="@xml/device_filter" />
    </application>

</manifest>
